{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} {% endblock %} Ak Jurok</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    {% block extrahead %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 col-lg-8">
                            <div class="short_contact_list">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="{% url 'home' %}" style="color: rgb(48, 47, 47); font-size: 14pt;">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'fund-list' %}">Fundraisers</a></li>
                                        <li><a href="{% url 'petition-list' %}">Petitions</a></li>
                                        <li><a href="{% url 'event-list' %}">Volunteering</a></li>
                                        <li><a href="{% url 'post-list'%}">Free stuff</a></li>
                                        {% if request.user.is_authenticated %}
                                        <li><a href="#">My profile<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'my-fundraisers' %}">Your fundraisers</a></li>
                                                <li><a href="{% url 'my-donations' %}">Donations you've made</a></li>
                                                <li><a href="{% url 'profile' %}">Account</a></li>
                                                <li><a href="{% url 'logout' %}">Log out</a></li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        <!-- <li><a href="#">Log in</a></li> -->
                                        <li><a href="{% url 'register' %}">Sign up</a></li>
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% if request.user.is_authenticated %}
                                    {% if free_stuff %}
                                    <div class="Appointment">
                                        <div class="book_btn d-none d-lg-block">
                                            <a href="{% url 'create-post' %}">Create a Post</a>
                                        </div>
                                    </div>
                                    {% elif is_fundraiser %}
                                    <div class="Appointment">
                                        <div class="book_btn d-none d-lg-block">
                                            <a href="{% url 'add-fundraiser' %}">Add Fundraiser</a>
                                        </div>
                                    </div>
                                    {% elif is_petitions %}
                                    <div class="Appointment">
                                        <div class="book_btn d-none d-lg-block">
                                            <a href="{% url 'create-petition' %}">Start a Petition</a>
                                        </div>
                                    </div>
                                    {% elif is_event %}
                                    <div class="Appointment">
                                        <div class="book_btn d-none d-lg-block">
                                            <a href="{% url 'create-event' %}"><i class="fa fa-plus" aria-hidden="true"></i> Opportunity</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
{% block content %}

{% endblock %}
<!-- footer_start  -->
    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p class="text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script>  All rights reserved  |  Ak Jurok
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->

    <!-- link that opens popup -->

    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function() {
            // messages timeout for 10 sec 
            setTimeout(function() {
                $('.alert').fadeOut('slow');
            }, 10000); // <-- time in milliseconds, 1000 =  1 sec

            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
    </script>
    </body>

</html>