{% extends 'fundraiser/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<section class="contact-section">
    <div class="container">
        {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="mb-5 p-4 rounded-xl bg-red-200 text-white">
                         <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
        {% endif %}
        {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 style="color: rgb(224, 136, 19);">Let's Get Started Doing Good!</h1><br/>
            <h3>Email</h3>
            {{ form.email | add_class:"form-control form-control-lg"}}<br/>
            <h3>Phone number</h3>
            {{ form.phone | add_class:"form-control form-control-lg"}}<br/>
            <h3>Is there anything more you want to ask or tell them? (optional) </h3>
            {{ form.message | add_class:"form-control form-control-lg"}}<br/>

            <input type="submit" name="SUBMIT" value="SUBMIT" class="btn btn-primary"/>
        </form>
    </div>
</section>
{% endblock %}
