{% extends 'fundraiser/base.html' %}
{% load widget_tweaks %}
{% block content %}
<section class="contact-section">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">
                ×
                </button>
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card align-content-center" style="margin-right: 5rem; margin-left: 5rem;">
              <div class="card-body">
                <div class="e-profile">
                    <div class="tab-content pt-3">
                        <div class="tab-pane active">
                            <form class="form" method="POST">
                                {% csrf_token %}
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 col-sm-6 mb-3">
                                    <div class="mb-2"><b>Change Password</b></div>
                                    <div class="row">
                                        <div class="col">
                                        <div class="form-group">
                                            <label>Current Password</label>
                                            {{ form.old_password|add_class:"form-control" }}
                                            {{ form.old_password.errors|escape}}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                        <div class="form-group">
                                            <label>New Password</label>
                                            {{ form.new_password1|add_class:"form-control" }}
                                            {{ form.new_password1.errors|escape}}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                        <div class="form-group">
                                            <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                            {{ form.new_password2|add_class:"form-control"}}
                                            {{ form.new_password2.errors|escape}}
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                          <button class="btn btn-primary" type="submit">Save Changes</button>
                                        </div>
                                    </div>
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <div class="mb-5 p-4 rounded-xl bg-red-200 text-white">
                                                <p>{{ error|escape }}</p>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}