{% extends 'fundraiser/base.html' %}
{% block content %}
<section class="contact-section">
    <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
        <div class="card p-3">
          <div class="e-navlist e-navlist--active-bg">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link px-2 active" href="{% url 'my-events' %}"><i class="fa fa-fw fa-archive mr-1"></i><span>My Volunteer opp.</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="{% url 'my-petitions' %}"><i class="fa fa-fw fa-sticky-note mr-1"></i><span>My Petitions</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="{% url 'my-posts' %}"><i class="fa fa-fw fa-rss mr-1"></i><span>My Posts</span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href="{% url 'change_password'%}"><i class="fa fa-fw fa-cog mr-1"></i><span>Change password</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  
                  <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                          <img src="{{ user.avatar.url }}" alt="image" width="140" height="140" style="object-fit: cover;">
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ user.first_name }}</h4>
                        <div class="mt-2">
                            <i class="fa fa-fw fa-camera"></i>{{ form.avatar }}
                        </div>
                      </div>
                      <div class="text-center text-sm-right">
                        {% if user.superuser %}
                        <span class="badge badge-secondary">administrator</span>
                        {% endif %}
                        <div class="text-muted"><small>Joined {{ user.joined.date }}</small></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>First Name</label>
                                  <input class="form-control" type="text" name="first_name" placeholder="{{ user.first_name }}" value="{{ user.first_name }}">
                                  <a style="color: red">{{ form.first_name.errors }}</a>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Last Name</label>
                                  <input class="form-control" type="text" name="last_name" placeholder="{{ user.last_name }}" value="{{ user.last_name }}">
                                  <a style="color: red">{{ form.last_name.errors }}</a>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" type="text" placeholder="{{ user.email }}" disabled>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>About</label>
                                  <textarea class="form-control" name="bio" rows="5">{{ user.bio }}</textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                          </div>
                        </div>    
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-12 col-md-3 mb-3">
            <div class="card mb-3">
              <div class="card-body">
                <div class="px-xl-3">
                  <a href="{% url 'logout' %}"><button class="btn btn-block btn-secondary">
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                  </button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    </div>                                            
</section>
{% endblock %}